<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Change password</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Change password</h1>
        <p>Enter your new password:</p>
        <form action="#" th:action="@{/password/edit}" method="POST">
            <label for="password">New password</label>:
            <input type="text" name="password" id="password" th:value="${user.password}"/>
            <input type="submit" value="Confirm"/>
        </form>
    </body>
</html>
