<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My tasks</title>
    </head>
    <body>
        <h1 th:text="${username}">username</h1>
        <br/>
        <a th:href="@{/tasks/new}">Create a new task!</a>
        <ul>
            <li th:each="task: ${tasks}">
                <span th:utext="${task.name}">task name</span>
                <a th:href="@{/tasks/edit/{id}(id=${task.id})}">Edit task</a>
            </li>
        </ul>
    </body>
</html>
